.main {
  margin-top: 100px;
}

.activities_section {
  position: relative;
  background-color: white;
  padding: 15px 100px 50px 100px;
  height: fit-content;
  font-size: 1rem;
}

.activities_section p {
  font-weight: 300px;
}

.activities_section .activity_infoboxes {
  margin-top: 100px;
}

.activities_section .cobot {
  height: 100vh;
}

.activities_section .about_title {
  margin-bottom: 100px;
}

.activity_row {
  display: flex;
  justify-content: center;
}

.activity_row .activity_img {
  flex: 1;
  /* border: 1px solid #ccc; */
}

.activity_row .headline_over_image {
  display: none;
}

.activity_row img {
  width: 500px;
  height: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 5px rgba(0, 0, 0, 0.3);
  cursor: zoom-in;
}

.activity_row img:hover {
  opacity: 0.7;
}

.activity_row .activity_body {
  flex: 1;
  padding: 0 60px 0 0;
  height: inherit;
}

.cobot:nth-child(even) > .activity_row > .activity_body {
  order: 1;
}

.cobot:nth-child(even) > .activity_row > .activity_img {
  order: 2;
}

/* The Modal (background) */
.modal {
  display: block; /* Can be hidden by default */
  position: fixed; /* Stay in place */
  z-index: 25; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal .modal_content {
  margin: auto;
  display: block;
  width: 100%;
  max-height: 600px;
  max-width: 900px;
}

/* Caption of Modal Image */
.caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal_content,
.caption {
  animation-name: zoom;
  --webkit-animation: zoom;
  animation-duration: 0.6s;
  --webkit-animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0.1);
    --webkit-transform: scale(0.1);
  }
  to {
    transform: scale(1);
    --webkit-transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 1068px) {
  .modal_content {
    width: 90%;
  }

  .activity_row {
    flex-direction: column;
  }

  .cobot:nth-child(even) > .activity_row > .activity_body {
    order: 2;
  }

  .cobot:nth-child(even) > .activity_row > .activity_img {
    order: 1;
  }

  .activity_row .activity_img {
    display: flex;
    justify-content: center;
  }

  .activity_row img {
    width: 500px;
    height: 350px;
  }

  .activity_row .activity_body {
    padding: 10px 10px 0 10px;
    text-align: justify;
  }

  .activity_row .headline_over_body {
    display: none;
  }

  .activity_row .headline_over_image {
    display: block;
  }
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal_content {
    width: 90%;
  }

  .activity_row {
    flex-direction: column;
  }

  .cobot:nth-child(even) > .activity_row > .activity_body {
    order: 2;
  }

  .cobot:nth-child(even) > .activity_row > .activity_img {
    order: 1;
  }

  .activity_row img {
    width: 300px;
    height: 200px;
  }

  .activity_row .activity_body {
    padding: 10px 0 0 0;
    text-align: justify;
  }

  .activity_row .headline_over_body {
    display: none;
  }

  .activity_row .headline_over_image {
    display: block;
  }
}
