/* -- 1. LANDING SECTION */
/* 1.1. Basic layout */

.background_img {
  background-color: #fff;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* 1.2. Landing Section */

.mobile_logo {
  display: none;
}

.main {
  position: relative;
}

.landing_page_section {
  position: relative;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  padding: 100px 50px 50px 50px;
}

.landing_page_section .body,
.landing_page_section .video {
  flex: 1;
  display: flex;
}

.landing_page_section .body {
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 100%;
  height: 100%;
  /* align-items: center; */
}

.landing_page_section h1 {
  font-size: 3.5rem;
  text-transform: uppercase;
  text-align: left;
  word-spacing: 7px;
  letter-spacing: 5px;
}

.landing_page_section .body p {
  font-size: 1.5rem;
  letter-spacing: 3px;
  color: #555;
}

.body button {
  font-size: 1.2rem;
  width: fit-content;
  margin-top: 20px;
  font-family: var(--font-one);
  background: var(--primary-color);
  color: var(--gentle-grey);
  padding: 10px 20px 10px 20px;
  border: none;
  cursor: pointer;
}

.body a {
  text-decoration: none;
  color: #fff;
}

.landing_page_section .video {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.iframe {
  height: 70%;
  width: 100%;
}

/* -- 3. TEAM MEMBERS -- */
.team_members_section {
  height: 120vh;
  padding-bottom: 100px;
  /* background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%); */
  background-color: #f2f2f2;
  background-blend-mode: lighten;
  background-blend-mode: soft-light, screen;
}

.cards_container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 100px;
}

.card {
  margin-right: 30px;
  position: relative;
  padding: 15px 25px 15px 25px;
  border: 3px solid transparent;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: var(--primary-color);
}

.card:hover {
  border: 3px solid #2098d1;
}

.card .card_photo {
  width: 150px;
  height: 150px;
  display: block;
  background-size: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.card:nth-child(1) .card_photo {
  background-image: url('../public/img/Zarul.jpg');
}

.card:nth-child(2) .card_photo {
  background-image: url('../public/img/Sufril.jpg');
}

.card:nth-child(3) .card_photo {
  background-image: url('../public/img/Adib.jpg');
}

.card:nth-child(4) .card_photo {
  background-image: url('../public/img/manmeet3.jpg');
}

.card:nth-child(5) .card_photo {
  background-image: url('../public/img/Maziani.jpg');
}

.card:nth-child(6) .card_photo {
  background-image: url('../public/img/Azlan.jpg');
}

.card .card_description {
  text-align: center;
  font-size: 25px;
}

/* SERVICES SECTION */
.services_section {
  height: 120vh;
  background-image: linear-gradient(135deg, #fad7a1 10%, #e96d71 100%);
}

.serviceCards {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  text-align: center;
  padding-bottom: 100px;
}

.serviceCards .serviceCard {
  padding: 30px;
}

.serviceCards .serviceCard:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.serviceCards .serviceCard h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 20px;
}

.serviceCards .serviceCard .icon img {
  max-width: 60px;
}

/* SMALLER SCREEN RESPONSIVENESS */
@media (max-width: 1250px) {
  .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* TABLET RESPONSIVENESS */

@media (max-width: 1068px) {
  .row {
    flex-direction: column;
  }

  .main {
    margin-top: 100px;
  }

  /* landing page section */
  .landing_page_section {
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding: 15px 20px 15px 20px;
  }

  .landing_page_section .body {
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .landing_page_section .body h1 {
    text-align: center;
    font-size: 2rem;
    letter-spacing: 3px;
  }

  .landing_page_section .body p {
    font-size: 1rem;
    text-align: center;
    color: grey;
  }

  .landing_page_section .video {
    flex: 2;
    width: 100%;
    align-items: flex-start;
  }

  .landing_page_section button {
    margin-top: 20px;
    font-size: 0.8rem;
    border-radius: 0;
  }

  .landing_page_section .iframe {
    height: 70%;
    width: 90%;
  }

  /* about section */
  .about-section .row .textcontent {
    margin-left: 0;
  }

  .cards_container {
    grid-template-columns: repeat(2, 1fr);
  }
  .team_members_section {
    height: 100%;
  }

  .services_section {
    height: 100%;
  }

  .serviceCards {
    grid-template-columns: repeat(2, 1fr);
  }

  .serviceCards .serviceCard {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  }
}

/* MOBILE RESPONSIVENESS */
@media (max-width: 500px) {
  .mobile_logo {
    display: block;
    position: absolute;
    top: 20px;
    left: 30px;
  }

  .mobile_logo img {
    height: 60px;
    width: 60px;
  }

  /* landing page section */
  .main {
    margin-top: 80px;
  }

  .landing_page_section {
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding: 15px;
  }

  .landing_page_section .body {
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .landing_page_section .body h1 {
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 3px;
  }

  .landing_page_section .body p {
    font-size: 1rem;
    text-align: center;
    color: grey;
  }

  .landing_page_section .video {
    flex: 2;
    width: 100%;
    /* border: 1px solid #ccc; */
    padding-top: 30px;
    align-items: flex-start;
  }

  .landing_page_section button {
    margin-top: 20px;
    font-size: 0.8rem;
    border-radius: 0;
  }

  .landing_page_section .iframe {
    height: 60%;
    width: 100%;
  }

  /* about section */
  .about_section {
    height: 100%;
  }

  .about_section button {
    font-size: 0.8rem;
    padding: 8px 15px 8px 15px;
  }

  .row {
    flex-direction: column;
  }

  /* team members section */
  .team_members_section {
    height: 100%;
  }

  .cards_container {
    grid-template-columns: repeat(1, 1fr);
  }

  /* services section */
  .services_section {
    height: 100%;
  }

  .serviceCards {
    grid-template-columns: repeat(1, 1fr);
  }

  .serviceCards .serviceCard {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  }
}
