/* -- GENERAL STYLES -- */
.header {
  position: relative;
}

.main {
  position: relative;
  margin-top: 100px;
  height: 110vh;
}

.member_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex_container {
  display: flex;
  flex-direction: row;
}

.flex_container .grid_container {
  padding-top: 20px;
}

.grid_container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1em;
}

/* -- MEMBER CARD -- */
.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #ccc;
  padding-top: 20px;
  color: #333;
}

.member_photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.member h3 {
  padding-top: 10px;
  text-align: center;
}

.zarul {
  background-image: url('../public/img/Zarul.jpg');
  background-size: 190px;
  background-position-x: -35px;
  background-position-y: -30px;
}

.sufril {
  background-image: url('../public/img/Sufril.jpg');
  background-size: 240px;
  background-position-x: -75px;
  background-position-y: -10px;
}

.adib {
  background-image: url('../public/img/Adib.jpg');
  background-size: 240px;
  background-position-x: -60px;
  background-position-y: -55px;
}

.manmeet {
  background-image: url('../public/img/manmeet3.jpg');
  background-size: 300px;
  background-position-x: -75px;
  background-position-y: -115px;
}

.maziani {
  background-image: url('../public/img/Maziani.jpg');
  background-size: 230px;
  background-position-x: -40px;
  background-position-y: -20px;
}

.azlan {
  background-image: url('../public/img/Azlan.jpg');
  background-size: 220px;
  background-position-x: -45px;
  background-position-y: -25px;
}

/* -- MENU TAB -- */

.tab {
  position: relative;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 20px;
}

.tab button {
  flex: 1;
  flex-basis: 200px;
  font-size: 1rem;
  border: none;
  border: 1px solid transparent;
  background: none;
}

.tab .active {
  color: var(--dark-blue);
  border-bottom: 3px solid var(--dark-blue);
}

/* -- INFO SECTION DIVS -- */

.info_section {
  padding: 20px 20px 20px 30px;
}

.info_section i {
  font-size: 0.5em;
}

.grid_container .label {
  text-align: right;
  font-weight: 500px;
}

.grid_container p {
  padding-left: 30px;
}

/* -- CONTACT SECTION -- */

.contact_section {
  padding: 20px 20px 20px 30px;
  display: flex;
  flex-direction: column;
}

.info_box {
  display: flex;
  flex-direction: row;
}

.info_box i {
  font-size: 1em;
  margin-right: 15px;
  padding-top: 23px;
}

.info_box a {
  color: var(--blue-color);
  text-decoration: none;
}

.info_box a:hover {
  text-decoration: underline;
}

/* TABLET RESPONSIVENESS */

@media (max-width: 1068px) {
  .main {
    height: 100vh;
  }
}

/* MOBILE RESPONSIVENESS */
@media (max-width: 500px) {
  .main {
    margin-top: 0;
    height: max-content;
  }

  .member {
    background-color: inherit;
    border-bottom: 1px solid #ccc;
  }

  .info_section {
    padding: 10px;
  }

  .grid_container .label {
    text-align: left;
    font-weight: 500px;
  }

  .grid_container {
    grid-template-columns: 1fr;
    gap: 0;
  }
}
