.bgBlue {
  background-color: blue;
}

.bordered {
  border: 1px solid #ccc;
}

.red {
  color: red;
}

.animate__animated {
  color: aquamarine;
}

.div p {
  color: red;
}

.bigBox {
  padding: 100px;
  margin-bottom: 100px;
  margin-top: 100px;
}

.main {
  background-color: red;
}
